@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');


.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /*display: grid;
  grid-template-columns: repeat(12, 1fr);*/
  background-color: black;
}

.header {
  background-color: red;
  height: 50px;
}

.header h1 {
  text-decoration: off;
  color: white;
  font-size: 1.5em;
  display: inline-block;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.nav {
  float: right;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.nav:hover {
  color: white;
}

.nav:active {
  text-decoration: underline;
}
