.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  grid-column: 1/13;
  background-color: grey;
  height: 50px;
}

.header h1 {
  text-decoration: cornsilk;
  font-size: 1.5em;
  display: inline-block;
}

h1 .movie {
  color: brown;
  font-size: 1.7em;
}

.nav {
  float: right;
  border: 2px solid black;
  padding: 5px;
}
